# Rockbox Theme Name: UImiz Revamped (HIDIZS AP80 Pro Max)
# Platform: HIDIZS AP80 Pro Max (360x640)
# Based on JGUlmiz for the HiBy R1 by jgoedde, and Ulmiz by Simon Rothen (rothen@gmx.net)
# Licencing: CC-BY-SA 3.0
#
# Version: 2.0-ap80pm
# Date: 2026-10-01
#

wps: /.rockbox/wps/UImiz Revamped.wps
sbs: /.rockbox/wps/UImiz Revamped.sbs
foreground color: ddd3e8
background color: 211a29
font: /.rockbox/fonts/34-Ubuntu-Medium.fnt
iconset: /.rockbox/icons/UImiz Revamped icons.bmp
viewers iconset: /.rockbox/icons/UImiz Revamped viewers.bmp
backdrop: -
show icons: on
filetype colours: -
scrollbar: right
scrollbar width: 30
selector type: bar (color)
statusbar: top
line selector text color: 1e1626
line selector end color: c58ee6
line selector start color: c58ee6
ui viewport: -
list padding: 33
